.slides {
  position: relative;
  top: 10px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; }
  .slides .overflow {
    width: 100%;
    overflow: hidden; }
  .slides .image {
    width: 500%;
    line-height: 0; }
  .slides article {
    width: 20%;
    max-height: 400px;
    float: left; }
  .slides img {
    width: 100%; }

#desktop:checked ~ .slides {
  max-width: 960px; }

#switch5:checked .controls label:nth-child(4) {
  background: url("../img/next.png") no-repeat;
  float: left;
  margin: 0 0 0 -84px;
  display: block;
  height: 68px;
  width: 68px; }

#switch5:checked ~ .controls label:nth-child(4) {
  background: url("../img/prev.png") no-repeat;
  float: right;
  margin: 0 -84 0 0;
  display: block;
  height: 68px;
  width: 68px; }

label, a {
  cursor: pointer; }

input {
  display: none; }
