table {
  width: 300px;
  border-collapse: collapse;
  -webkit-box-shadow: 0 0 15px lightgrey;
  box-shadow: 0 0 15px lightgrey;
  cursor: pointer; }
  table:hover {
    -webkit-box-shadow: 0 0 5px lightgrey;
    box-shadow: 0 0 5px lightgrey;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

caption {
  margin-bottom: 5px;
  font-size: 25px; }

td {
  padding: 5px;
  border: 1px solid lightgrey; }
  td:hover {
    background: #d3d3d375;
    color: black; }

.row-1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold; }
